node_modules
# .env

# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# Hardhat Ignition default folder for deployments against a local node
/ignition/deployments/chain-31337

# Comment-202409124 applies.
/solhint/check-1-output.txt

# Comment-202409112 applies.
/slither/slither-1-output.md

# Comment-202409014 applies.
/smtchecker/compile-1-output

# Comment-202505307 applies.
/eslint/eslint-1-report.txt
/eslint/eslint-1-report.bak.txt

# # Comment-202408024 applies.
# /abi

# /config.sh

/tasks/output
/live-blockchain-testing/output

/certora/emv*
